@media (min-width: 1400px) {
	.product_list{
		justify-content: flex-start;
	}
	.product_list_item{
		margin-right: 25px;
	}
	.footer_block_fdb{
		max-width: 336px;
	}	
	.main_video_img > a > img{
		min-height: 410px;
	}
}
@media (max-width: 1400px) {
	.head__cart{
		right: 20px;
	}
}
@media (max-width: 1400px) {
	.container{
		padding-left: 20px;
		padding-right: 20px;
	}
	.menu_container.container{
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 1250px) {
	.container.full_width_container{
		padding-left: 0;
		padding-right: 0;
	}
	.head{
		margin-bottom: 25px;
	}
	.head__cart{
		top: 15px;
	}
	/*.head__phone{
		display: none;
	}
	.head__icon{
		display: none;
	}*/
	/*a.head__cart_cart_mob{
		display: block;
		position: relative;
	}*/
	a.head__menu{
		display: block;
		float: left;
		/*margin-top: 20px;*/
	}
	/*div.head__inout{
		display: block;
	}*/
	.mobile_panel {
		display: block;
	}
	.top_logo {
		width:20%;
	}
	.head__phone{
		width:30%;
	}
	.topsearch{
		width:50%;
	}
	.topsearch_container{
		margin-left: 0 auto;
		margin-right: 0;
	}
	.head{height: 166px;}

	.menu{
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(0,0,0,.9);
		width: /*280*/320px;
		min-height: 100%;
		overflow-y: auto;
		color: #fff;
		z-index: 10;
		height: auto;
		margin-left: -320px;        /*280*/
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
	.menu.open{
		margin-left: 0;
		z-index: 100;
	}
	div.mob_tel{
		display: block;
	}
	.menu_lvl_1{
		background: none;
		height: auto;
	}
	.menu_lvl_1 > li{
		display: block;
		margin: 0;
		line-height: 55px;
		border-top: 1px solid rgba(255,255,255,.18);
		height: auto;
		text-align: left;
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu_lvl_1 > li a{
		display: block;
		height: 55px;
		line-height: 55px;
		color: #fff;
		font-size: 17px;
		position: relative;
	}
	.menu_lvl_1 > li a.menu_img{
		height: 430px;
		margin: 15px 0;
		/* border-top: 1px solid rgba(255,255,255,.18); */
		position: relative;
	}
	.menu_lvl_1 > li a.menu_img::before{
		content: '';
		width: 100%;
		display: block;
		height: 1px;
		border-top: 1px solid rgba(255,255,255,.18);
		top: -14px;
		position: absolute;
		left: 0;
	}
	.menu_lvl_1_link::before{
		position: absolute;
		content: "";
		width: 11px;
		height: 3px;
		background: #fff;
		right: 0;
		top: 50%;
		margin-top: -2px;
		-webkit-transition: all .1s	;
		-o-transition: all .1s;
		transition: all .1s;
	}
	.menu_lvl_1_link::after{
		position: absolute;
		content: "";
		width: 3px;
		height: 11px;
		background: #fff;
		right: 4px;
		top: 50%;
		margin-top: -6px;
		-webkit-transition: all .2s	;
		-o-transition: all .3s;
		transition: all .3s;
	}
	.menu_lvl_1_link.open::before{
		opacity: 0;
	}
	.menu_lvl_1_link.open::after{
		-webkit-transform: rotateZ(90deg);
		-ms-transform: rotateZ(90deg);
		-o-transform: rotateZ(90deg);
		transform: rotateZ(90deg);
	}
	.menu_lvl_1 > li:last-child{
		border-bottom: 1px solid rgba(255,255,255,.18);
	}

	.menu_lvl_1 > li > ul{
		padding: 0;
		background: none;
		position: static;
		height: auto;
	}
	.menu_sub li {
		width: 100%;
		padding: 0;
		padding: 0;
		float: none;
		line-height: 14px;
		font-size: 14px;
		max-width: 100%;
	}
	.menu_sub > li:last-child{
		float: none;
		height: auto;
	}
	.menu_wrap ul.menu_sub_2 > li{
		display: none;
	}
	.menu_wrap ul.menu_sub_2 > li:first-child{
		display: block;
		position: relative;
	}
	.menu_wrap ul.menu_sub_2 > li:first-child::after{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 4px 0 4px 6px;
		border-color: transparent transparent transparent #ffffff;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -5px;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
	.menu_wrap ul.menu_sub_2 > li.open::after{
		-webkit-transform: rotateZ(90deg);
		-ms-transform: rotateZ(90deg);
		-o-transform: rotateZ(90deg);
		transform: rotateZ(90deg);
	}
	.menu_wrap ul.menu_sub > li a{
		font-family: "Myriad";
	}
	.menu_wrap ul.menu_sub_2 > li a{
		font-weight: normal;
		font-size: 14px;
		font-family: "Myriad";
	}
	.head__cart{
		right: 20px;
	}
	/*.topsearch{
		margin-bottom: 30px;
	}
	.topsearch_container{
		width: 440px;
	}
	.topsearch_input{
		font-size: 17px;
		line-height: 42px;
		border-width: 3px;
	}
	.topsearch_send svg{
		display: none;
	}
	.topsearch_send{
		background: url(../img/search_mob.png) 50% no-repeat;
	}*/
	footer{
		padding-top: 44px;
	}
	.footer_container {
		display: block;
		padding-top: 136px;
	}
	.footer_block_fdb {
		position: absolute;
		top: 0;
		width: 90%;
		left: 5%;
		text-align: center;
	}
	.footer_block_fdb .footer_block_header{
		font-size: 19px;
	}
	.footer_fdb input{
		display: inline-block;
		height: 30px;
		line-height: 28px;
		font-size: 14px;
	}
	.footer_fdb input[type="text"]{
		width: 360px;
		max-width: 90%;
	}
	.footer_fdb .footer_fdb_subm{
		margin-top: 0;
		width: auto;
		padding: 0 25px;
		margin-left: 25px;
	}
	.footer_block_menu .footer_block_header {
		font-size: 13px;
		line-height: 41px;
		border-top: 1px solid #000;
		margin-bottom: 0;
		padding-left: 20px;
		cursor: pointer;
		position: relative;
	}
	.footer_block_menu .footer_block_header::before {
		position: absolute;
		content: "";
		width: 8px;
		height: 2px;
		background: #000;
		right: 20px;
		top: 50%;
		margin-top: -2px;
		-webkit-transition: all .1s;
		-o-transition: all .1s;
		transition: all .1s;
	}
	.footer_block_menu .footer_block_header::after{
		position: absolute;
		content: "";
		width: 2px;
		height: 8px;
		background: #000;
		right: 23px;
		top: 50%;
		margin-top: -5px;
		-webkit-transition: all .2s	;
		-o-transition: all .3s;
		transition: all .3s;
	}
	.footer_block_menu .footer_block_header.open::after{
		opacity: 0;
	}
	.footer_block_list{
		border-top: 1px solid #000;
		padding: 4px 20px;
		background: #efefef;
		display: none;
	}
	.footer_block_list li{
		line-height: 31px;
		margin-bottom: 3px;
		background: #fff;
		text-align: center;
		height: 31px;
	}
	.footer_block_list li a{
		font-size: 12px;
		display: block;
		height: 100%;
	}
	.footer_block_list li:last-child{
		margin-bottom: 0;
	}
	.footer_block_menu:nth-child(3){
		border-bottom: 1px solid #000;
	}
	.footer_block_soc{
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.footer_block_soc .footer_block_header{
		display: none;
	}
	.footer_payments{
		background-position: 63px bottom;
	}
	.footer_soc_list{
		margin-top: 28px;
	}
	.detail_imgs_main_ul:hover + #zoom_area{
		display: none;
	}
	.detail_imgs_list{
		display: none;
	}
	.info_head{
		padding: 58px 0;
		border-bottom-width: 2px;
		width: calc(100% + 40px);
		margin-left: -20px;
	}
	.info_head_pic{
		display: none;
	}
	.info_head_pic_t{
		display: inline-block;
	}
	.info_right_content *{
		font-size: 16px;
		line-height: 22px;
	}
	.info_header{
		margin: 26px 0;
		font-size: 18px;
	}
	.info_left_menu li{
		line-height: 20px;
	}
	.info_left_menu li a{
		font-size: 15px;
	}
	.info_left_menu li a::before{
		width: 5px;
		height: 10px;
		margin-top: -5px;
	}
	.auth_tab{
		display: block;
		padding-top: 0;
	}
	.auth_select{
		display: none;
	}
	.auth_tab_l{
		padding-top: 50px;
	}
	.auth_tab_l,
	.auth_tab_r{
		float: none;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.auth_tab_checks{
		padding-top: 0;
		margin-bottom: 29px;
	}
	.auth_mob_head{
		font-size: 17px;
		font-family: "Myriad";
		text-transform: uppercase;
		display: block;
		font-weight: normal;
		margin-bottom: 38px;
	}
	.r_field{
		position: static;
		margin-bottom: 38px;
	}
	.auth_h1{
		display: none;
	}
	.bc{
		display: none;
	}
	.auth_in .auth_tab_l {
		padding-bottom: 50px;
		border-bottom: 1px solid #000;
	}
	.main_top_act_head{
		font-size: 12px;
	}
	.footer_fdb input[name="mail"]{
		width: calc(100% - 180px);
	}
}
@media (max-width: 1024px) {
	a.mob_catalog_show_filter{
		display: inline-block;
	}
	.catalog_sect_filter {
		width: 320px;
		float: none;
		position: fixed;
		padding: 0 20px;
		background: #fff;
		height: 460px;
		overflow: auto;
		left: 50%;
		top: 50%;
		margin-left: -160px;
		margin-top: -230px;
		z-index: -1;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		opacity: 0;
	}
	.catalog_sect_filter.open{
		z-index: 9;
		opacity: 1;
	}
	.catalog_sect_filter::after{
		content: 'x';
		position: absolute;
		width: 17px;
		height: 17px;
		right: 0;
		top: -17px;
		background-color: #c9c8c8;
	}
	.filter_apply{
		margin-bottom: 20px;
	}
	.catalog_sect_list{
		float: none;
		width: 100%;
	}
	.detail_info{
		padding-left: 25px;
	}
	.detail_imgs_main_ul{
		width: 373px;
	}
	.detail_imgs_main img {
		max-width: 100%;
	}
	.detail_h1{
		font-size: 21px;
	}
	.detail_codes li, .detail_codes span{
		font-size: 14px;
	}
	.detail_vol_wieght li, .detail_vol_wieght span{
		font-size: 13px;
	}
	.detail_price{
		font-size: 28px;
		line-height: 28px;
	}
	.detail_sku_head{
		font-size: 16px;
	}
	.detail_sku_list{
		width: 300px;
	}
	.container{
		padding-left: 40px;
		padding-right: 40px;
	}
	.menu_container.container{
		padding-left: 0;
		padding-right: 0;
	}
	.head__cart{
		right: 40px;
	}
	.product_list_item{
		width: 215px;
	}
	footer{
		margin-top: 22px;
	}
	.product_list_item_name a{
		font-size: 18px;
	}
	.product_list_item_price{
		font-size: 21px;
	}
	.detail_imgs_main_ul{
		width: 343px;
	}
	.detail_desc dt{
		padding: 0 90px;
		font-size: 21px;
	}
	.detail_desc .dt_inner{
		font-size: 21px;
	}
	.detail_desc dt.dt_specs{
		left: 283px;
	}
	.detail_desc_head{
		margin-top: 0;
		margin-bottom: 50px;
	}
	.detail_desc_head::before{
		left: -40px;
		width: calc(100% + 80px);
	}
	.info_head {
		border-bottom-width: 1px;
		width: calc(100% + 80px);
		margin-left: -40px;
		margin-bottom: 0;
	}
	.personal_butt {
		width: calc(33% - 20px);
		margin-bottom: 30px;
	}
	.bx_sitemap_ul > li{
		width: 33%;
		border-right: 1px solid #eee;
	}
	.bx_sitemap_ul > li:nth-child(4n){
		border-right: 1px solid #eee;
	}
	.bx_sitemap_ul > li:nth-child(3n){
		border-right: none;
	}
}
@media (max-width: 970px) {
	.bottom_panel { display:none; }
	.head__phone{
		width:80%;
		padding-top:0px;
		text-align:right;
	}
	.topsearch{
		width:80%;
		padding-top: 10px;
	}
}
@media (max-width: 900px) {       /*790*/
	.main_recom_arr{
		display: none;
	}
	.brands_list_item{
		width: 24%;
	}
}
@media (max-width: 767px) {
	/*.head__logo{
		display: none;
	}
	.head__logo_tab{
		display: inline-block;
	}*/
	.top_logo {
		width:100%;
	}
	.head__phone{
		width:100%;
		padding-top:10px;
		text-align:center;
	}
	.topsearch{
		width:100%;
		padding-top: 14px;
	}
	.topsearch_container{
		margin: 0 auto;
	}
	.head {
		height: 300px;
	}
	.catalog_sort > span{
		display: none;
	}
	.catalog_sort_select{
		height: 39px;
		line-height: 39px;
		border-radius: 20px;
		padding: 0 20px;
		border: 1px solid #c9c8c8;
	}
	.catalog_sect_h1{
		display: block;
	}
	.mob_catalog_show_filter{
		margin-left: 0;
	}
	.catalog_sect_head{
		line-height: 44px;
		padding-bottom: 10px;
	}
	.detail_desc dd, .detail_desc dd *{
		font-size: 14px;
	}
	.detial_container > section{
		width: 100%;
	}
	.detail_imgs_list{
		display: block;
	}
	.detail_imgs_main_ul{
		width: 442px;
	}
	.detail_desc dt{
		position: relative;
	}
	.detail_desc dt.dt_specs{
		left: 0;
		margin-left: 0;
	}
	.detail_dl{
		margin-bottom: 56px;
	}
	.detail_desc dt{
		padding: 0;
		line-height: 52px;
		font-size: 16px;
		text-align: center;
	}
	.detail_desc .dt_inner{
		font-size: 16px;
	}
	.detail_desc dt::before{
		height: 1px;
	}
	.detail_desc dt::after{
		bottom: 1px;
		display: none;
	}
	.dt_inner::before{
		position: absolute;
		content: "";
		width: 13px;
		height: 3px;
		background: #c9c8c8;
		right: 20px;
		top: 50%;
		margin-top: -2px;
		-webkit-transition: all .1s;
		-o-transition: all .1s;
		transition: all .1s;
	}
	.dt_inner::after{
		position: absolute;
		content: "";
		width: 3px;
		height: 13px;
		background: #c9c8c8;
		right: 25px;
		top: 50%;
		margin-top: -7px;
		-webkit-transition: all .2s;
		-o-transition: all .3s;
		transition: all .3s;
	}
	.detail_desc dd{
		max-width: 100%;
		padding-top: 40px;
		padding-bottom: 26px;
		border-bottom: 1px solid #c9c8c8;
	}
	.detail_desc dt.dt_desc{
		border-top: 1px solid #c9c8c8;
	}
	.detail_desc dt.active::after{
		display: block;
	}
	.detail_desc dt.active .dt_inner::after{
		display: none;
	}
	.shops_and_map{
		min-height: 582px;
		height: auto;
	}
	.shops_head.active + .shops_list{
		height: 300px;
	}
	.shop_block{
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	.map_block{
		width: 100%;
		padding-left: 0;
	}
	#map{
		min-height: 330px;
	}
	.info_content{
		display: block;
	}
	.info_left{
		width: calc(100% + 80px);
		margin-left: -40px;
		border-bottom: 1px solid #000;
		padding: 40px;
		padding-top: 14px;
	}
	.info_right{
		padding: 0;
		width: 100%;
	}
	.main_bottom_banners li,
	.main_top_act_item{
		max-width: 48%;
		margin-bottom: 20px;
	}
	.brand_detail_desc{
		clear: both;
		padding-left: 0;
	}
}
@media (max-width: 750px) {
	.product_list_item{
		width: 47%;
	}
}
@media (max-width: 670px) {
	.detail_imgs_list{
		display: none;
	}
	.detail_imgs_main {
		float: none;
		max-width: 509px;
		position: relative;
		margin: 0 auto;
	}
	.detail_imgs_main_ul{
		margin-left: auto;
		margin-right: auto;
	}
	.info_head_pic_t{
		display: none;
	}
	.info_head_pic_m{
		display: inline-block;
	}
	.main_top_act{
		justify-content: space-around;
	}
	.main_top_act_item{
		max-width: 100%;
	}
	.main_top_act_head {
		font-size: 14px;
	}
	.main_top_act_head::after{
		display: none;
	}
	.main_video,
	.main_video_img{
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
		text-align:center;
		max-height:410px;
	}
	.main_video_img { max-height:410px; }
	.main_video{
		/*height: 200px;*/
		margin-bottom: 15px;
	}
	.personal_butt{
		width: 100%;
	}
	.brands_list_item{
		width: 32%;
	}
	.bx_sitemap_ul > li{
		width: 49%;
		border-right: 1px solid #eee;
		padding-left: 1%;
	}
	.bx_sitemap_ul > li:nth-child(3n){
		border-right: 1px solid #eee;
	}
	.bx_sitemap_ul > li:nth-child(2n){
		border-right: none;
	}
}
@media (max-width: 590px) {
	.pagi_short{
		display: none;
	}
	.catalog_sect_head{
		border-bottom: none;
	}
	.footer_fdb input{
		display: block;
	}
	.footer_fdb .footer_fdb_subm{
		width: 100%;
		margin-left: 0;
	}
	.footer_fdb input[type="text"]{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		max-width: 100%;
		margin-bottom: 16px;
	}
	.footer_container{
		padding-top: 179px;
	}
	.head__logo_tab{
		display: none;
	}
	.head__logo_mob{
		display: inline-block;
	}
	.mob_catalog_show_filter{
		padding: 0 20px;
	}
	.catalog_sort_select{
		padding: 0 5px;
	}
	.container{
		padding-left: 20px;
		padding-right: 20px;
	}
	.head__cart{
		right: 20px;
	}
	.detail_desc_head::before{
		left: -20px;
		width: calc(100% + 40px);
	}
	.detail_info{
		padding-left: 0;
	}
	.contacts_block_head{
		font-size: 17px;
	}
	.contacts_block_list *{
		font-size: 15px;
	}
	.shops_and_map{
		margin-top: 50px;
	}
	.shops_head{
		font-size: 15px;
		height: 41px;
		line-height: 41px;
		border-bottom-width: 1px;
	}
	.shops_head_loc{
		border-right-width: 1px;
		-webkit-background-size:  auto 20px;
		background-size:  auto 20px;
		background-position: 17px 11px;
	}
	.shops_head.active .shops_head_loc{
		background-position: -28px 11px;
	}
	.contacts_container{
		padding-bottom: 10px;
	}
	.shops_list li strong{
		font-size: 14px;
	}
	.shops_list li p{
		font-size: 13px;
	}
	.info_head {
		width: calc(100% + 40px);
		margin-left: -20px;
	}
	.info_left {
		width: calc(100% + 40px);
		margin-left: -20px;
	}
	.footer_fdb input[name="mail"]{
		width: 100%;
		margin-bottom: 10px;
	}
}
@media (max-width: 560px) {
	.detail_recom .slick-dots{
		position: relative;
	}
}
@media (max-width: 520px) {
	.sale-personal-profile-list-border{
		display: block;
		background: none;
	}
	.sale-personal-profile-list-actions{
		text-align: center;
	}
	.pop_up_cart{
		max-width: 100%;
	}
	.topsearch_container{
		width: 340px;
	}
.topsearch_input{
	line-height: 32px;
	padding: 0 12px;
		font-size: 16px;
		border: 2px solid #e6e6e6;
	}
	.slick-dots { bottom:-60px; }
}
@media (max-width: 480px) {
	.product_list_item{
		width: 100%;
	}
	.pagi_long{
		float: none;
		text-align: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.pagi_long a{
		margin-left: 0;
	}
	.pagi_long_desc{
		display: block;
		width: 100%;
	}
	.container{
		padding-left: 10px;
		padding-right: 10px;
	}
	.head__cart{
		right: 10px;
	}
	.detail_desc_head::before{
		left: -10px;
		width: calc(100% + 20px);
	}
	.detail_imgs_main_ul{
		max-width: 100%;
	}
	.detail_desc_head img{
		max-width: 80%;
	}
	.info_head {
		width: calc(100% + 20px);
		margin-left: -10px;
	}
	.info_left {
		width: calc(100% + 20px);
		margin-left: -10px;
	}
	.auth_butt{
		margin-top: 0;
	}
	.auth_tab_checks label{
		margin-bottom: 20px;
		display: block;
	}
	.forgot{
		float: none;
		margin-bottom: 20px;
	}
	#basket_items .price,
	#basket_items .itemphoto,
	#basket_items #col_PRICE{
		display: none;
	}
	.profile_tab input[type="submit"]{
		width: 100%;
	}
	.brands_list_item{
		width: 49%;
	}
}
@media (max-width: 410px) {
	.main_bottom_banners{
		justify-content: space-around;
	}
	.main_bottom_banners li{
		max-width: 100%;
	}
	.main_recom_head span{
		font-size: 21px;
	}
	.sale-personal-profile-list-container td,
	.sale-personal-profile-list-container th{
		text-align: center;
	}
	.brand_detail_img{
		display: block;
		margin: 0 auto;
		float: none;
	}
	.brand_detail_title{
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	.bx_sitemap_ul > li{
		width: 100%;
		border-right: none;
		padding-left: 1%;
	}
	.bx_sitemap_ul > li:nth-child(2n){
		border-right: none;
	}
	.topsearch_container{
		width: 300px;
	}
}
@media (max-width: 1200px) {
	.brands_fixed_item { width:25%; }
}
@media (max-width: 1080px) {
	.brands_fixed_item { width:33%; }
}
@media (max-width: 590px) {
	.brands_fixed_item { width:50%; }
}