@font-face {
	font-family: "Myriad";
	src: url("../fonts/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProRegular.woff") format("woff"),
	url("../fonts/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "MyriadBold";
	src: url("../fonts/MyriadProBold.eot");
	src: url("../fonts/MyriadProBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProBold.woff") format("woff"),
	url("../fonts/MyriadProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "MyriadCond";
	src: url("../fonts/MyriadProCondRegular.eot");
	src: url("../fonts/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProCondRegular.woff") format("woff"),
	url("../fonts/MyriadProCondRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 14px;
	outline: none;
}
body{
	font-size: 14px;
	background: #fff;
	font-family: "Myriad";
	color: #000200;
	padding-top: 45px;
	min-height: 1000px;
}
body::before{
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	content: "";
	position: fixed;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,.2);
	z-index: 99;
	visibility: hidden;
	opacity: 0;
}
body.popup_open::before{
	opacity: 1;
	visibility: visible;
}
a{
	text-decoration: none;
	color: #000200;
	font-size: 14px;
}
li{
	list-style: none;
}
h1{
	font-size: 25px;
	font-family: "MyriadBold";
	font-weight: normal;
}
strong, b{
	font-weight: normal;
	font-family: "MyriadBold";
}
pre {
	font-size: 13px;
	background: #f6f6f6;
	color: #008ebd;
	font-family: Roboto Mono;
	margin: 20px;
	padding: 10px;
	text-transform: none;
}
img{
	max-width: 100%;
}
a:hover, a:focus{
	text-decoration: none;
	color: #000200;
}
select,option,input, .bxcompprop-adm-dialog-content,
.bx-core-adm-dialog-content-wrap-inner *,
#bx_admin_form *{
	font-size: 14px;
}
sup{
	font-size: 12px;
}
.svg_map{
	display: none;
}
.popup_overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	background: rgba(0,0,0,.18);
	display: none;
}
.mob_el,
div.mob_el,
a.mob_el{
	display: none;
}
.container{
	max-width: 100%;
	width: 1300px;
	margin: 0 auto;
	position: relative;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
#bx-panel{
	top: -45px;
}
.in_err{
	border-color: #CB0089 !important;
}
.in_err::-webkit-input-placeholder {color:#CB0089; opacity: 1;}
.in_err::-moz-placeholder          {color:#CB0089; opacity: 1;}/* Firefox 19+ */
.in_err:-moz-placeholder           {color:#CB0089; opacity: 1;}/* Firefox 18- */
.in_err:-ms-input-placeholder      {color:#CB0089; opacity: 1;}

.test_res{
	clear: both;
}
.test_res ul{
	margin-bottom: 30px;
	background: #F594D5;
	padding: 20px;
}
.reg_thx {
	text-align: center;
	font-size: 24px;
	line-height: 34px;
}
.errortext{
	padding: 70px 0;
	display: block;
}
.pb100{
	padding-bottom: 100px;
}
/* ГОЛОВА */
.head{	
	height: 75px;
	margin-bottom: 45px;
}
.head__container{
	width: 1300px;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.head__cart{
	position: absolute;
	top: 0;
	right: 0;
}
.head__icon{
	width: 24px;
	height: 24px;
	display: inline-block;
}
.head__cart_auth{
	margin-right: 35px;
	position: relative;
}
.head__cart_cart::after{
	content: "";
	height: 100%;
	width: 1px;
	position: absolute;
	left: -36px;
	top: 0;
	background: #272525;
}
.head__cart_fav{
	margin: 0 35px;
	position: relative;
}
.head__cart_fav::after{
	content: "";
	height: 100%;
	width: 1px;
	position: absolute;
	right: -35px;
	top: 0;
	background: #272525;
}
.head__cart_cart{
	margin-left: 35px;
	position: relative;
}
.cart_count {
	width: 20px;
	height: 20px;
	line-height: 19px;
	font-size: 12px;
	position: absolute;
	right: -10px;
	top: -10px;
	background: #CB0089;
	border-radius: 50px;
	color: #fff;
	text-align: center;
}
.head__phone{
	font-size: 16px;
	float: left;
}
.head__inout{
	font-size: 13px;
	color: #3f3f3f;
	margin-top: 20px;
}
.head__inout a{
	color: #3f3f3f;
}
.mob_tel{
	text-align: center;
	line-height: 100px;
}
.mob_tel a{
	font-size: 18px;
	color: #fff;
}
/* МЕНЮ */
.menu_container{
	height: 43px;
	line-height: 43px;
	width: 1300px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}
.menu_wrap {
	position: absolute;
	z-index: 10;
	width: 100%;
	overflow: visible;
}
.menu_wrap:hover{
	z-index: 100;
}
.menu_lvl_1{
	text-align: center;
	height: 43px;
	background: #fff;
}
.menu_lvl_1 > li{
	display: inline-block;
	padding: 0 10px;
	height: 43px;
	margin: 0 10px;
}
.menu_lvl_1 > li.active > a{
	position: relative;
}
.menu_lvl_1 > li.active > a::after{
	position: absolute;
	background-color: #ca0088;
	height: 3px;
	content: "";
	width: 100%;
	bottom: -10px;
	left: 0;
}
.menu_lvl_1 > li > a{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
}
.menu_lvl_1 > li > ul {
	position: absolute;
	display: none;
	text-align: left;
	width: 100%;
	padding: 0 15px;
	height: 568px;
	padding-top: 30px;
	left: 0;
	padding-bottom: 15px;
	background: #fff;
	top: 43px;
}
/* .menu_lvl_1 > li:hover{
	
} */
.menu_lvl_1 > li.active > ul{
	display: block;
	z-index: 101;
}

.menu_sub li{
	padding: 8px 0;
}
.menu_sub > li{
	width: 250px;
	padding: 0;
	padding-left: 10px;
	float: left;
	line-height: 17px;
	font-size: 17px;
	max-width: 20%;
}
.menu_sub > li.menu_banner{
	float: right;
	height: 478px;
}
.menu_sub > li a{
	font-size: 17px;
	font-family: "MyriadCond";
}
.menu_img{
	display: block;
	height: 100%;
}
.menu_sub_2 > li:first-child{
	padding-top: 0;
}
.menu_sub_2 > li:first-child a{
	font-family: "MyriadBold";
	font-size: 20px;
	text-transform: uppercase;
}
.menu_sub_col7 > li{
	width: 14%;
}
.menu_sub_col7 li {
	padding: 5px 0;
}
.menu_sub_col6 > li{
	width: 16.5%;
}
.menu_sub_col7 li {
	padding: 10px 0;
}


/* ПОИСК */
.topsearch{
	padding-top: 39px;
	margin-bottom: 100px;
}
.topsearch_container{
	margin: 0 auto;
	width: 600px;
}
.topsearch_form{
	position: relative;
}
.topsearch_input{
	width: 100%;
	line-height: 54px;
	padding: 0 12px;
	color: #7f7e7c;
	font-size: 21px;
	border: 4px solid #e6e6e6;
	background: #fff;
	font-style: italic;
}
.topsearch_send{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -10px;
}

/* КРОШКИ */
.bc{
	margin-bottom: 20px;
}
.bc,
.bc li,
.bc a{
	font-size: 14px;
	line-height: 27px;
}
.bc li{
	display: inline-block;
	padding-right: 23px;
	position: relative;
	color: #979695;
}
.bc a{
	color: #c9c8c8;
}
.bc a::after{
	position: absolute;
	content: ">";
	right: 7px;
}

/* РАЗДЕЛ */
.catalog_sect *{
	font-size: 15px;
}
.catalog_sect_head{
	line-height: 54px;
	font-family: "MyriadBold";
	font-size: 20px;
	border-bottom: 1px solid #c9c9c9;
}
.catalog_sect_h1{
	font-size: 20px;
	display: inline-block;
}
.catalog_sect_filter{
	width: 223px;
	float: left;
	margin-right: 20px;
	padding-bottom: 200px;
}
.catalog_sect_list{
	float: left;
	width: calc(100% - 245px);
	max-width: 100%;
	padding-bottom: 23px;
}

/* ФИЛЬТР */
.filter_block_head{
	line-height: 50px;
	font-size: 19px;
	border-bottom: 1px solid #000;
	cursor: pointer;
	position: relative;
}
.filter_block_head::before{
	position: absolute;
	content: "";
	height: 2px;
	width: 12px;
	background: #000;
	right: 0;
	top: 50%;
}
.filter_block_head::after{
	position: absolute;
	content: "";
	height: 12px;
	width: 2px;
	background: #000;
	right: 5px;
	top: 50%;
	margin-top: -5px;
}
.filter_block_head.open::after{
	display: none;
}
.filter_block_body{
	display: none;
	padding: 7px 0;
}
.filter_block_head.open + .filter_block_body{
	display: block;
}
.filter_block_body input[type="checkbox"]{
	display: none;
}
.filter_block_body label{
	display: block;
	line-height: 35px;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}
.filter_block_body label::before{	
	content: "";
	width: 20px;
	height: 20px;
	border: 1px solid #c9c8c8;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
}
.filter_block_body input[type="checkbox"]:checked + label::after{
	width: 10px;
	height: 10px;
	background-color: #080000;
	content: "";
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -4px;
}
.filter_price_block{
	text-align: right;
	padding: 15px 0;
}
.filter_price_block input[type="text"]{
	line-height: 26px;
	display: inline-block;
	padding: 0 6px;
	border: 1px solid #000;
	width: 87px;
	background: #fff;
	margin-left: 19px;
}
.filter_apply{
	display: block;
	line-height: 26px;
	font-size: 12px;
	border: 1px solid #000;
	margin-top: 19px;
	padding: 0 8px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	position: relative;
}
.filter_apply::after{
	position: absolute;
	content: ">";
	right: 10px;
	top: 50%;
	font-size: 20px;
	margin-top: -16px;
}
.filter_apply:hover,
.filter_apply:active{
	background: #000;
	color: #fff;
}
.mob_catalog_show_filter{
	display: inline-block;
	font-family: 'Myriad';
	font-size: 16px;
	padding: 0 77px;
	border: 1px solid #c9c8c8;
	border-radius: 20px;
	line-height: 37px;
	text-transform: uppercase;
	margin-left: 70px;
}
.catalog_sort{
	float: right;
}
.catalog_sort_form{
	display: inline-block;
}
.catalog_sort_select {
	padding: 0 6px;
	background: #fff;
	border: 1px solid #e2e2e2;
	height: 23px;
	display: inline-block;
	line-height: 23px;
	font-size: 13px;
	color: #000;
	font-family: "Myriad";
	margin-left: 4px;
}
.cat_left_menu li a{
	font-size: 14px;
}
.cat_left_menu li {
	line-height: 24px;
	padding-left: 20px;
	position: relative;
}

.cat_left_icon {
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	left: 0;
	top: 4px;
	cursor: pointer;
	border: 1px solid #aaa;
	border-radius: 2px;
}
.cat_left_icon::before{
	position: absolute;
	width: 10px;
	height: 2px;
	background: #111;
	top: 50%;
	margin-top: -1px;
	content: "";
	right: 2px;

}
.cat_left_icon::after {
	position: absolute;
	width: 2px;
	height: 10px;
	background: #111;
	top: 50%;
	margin-top: -5px;
	content: "";
	right: 6px;
}
.cat_left_submenu{
	display: none;
}
.open_sub > .cat_left_submenu{
	display: block;
}
.open_sub > .cat_left_icon::after{
	display: none;
}
.menu_current > a{
	font-family: "MyriadBold";
}
/* ПАГИНАЦИЯ */
.pagi_short{
	float: right;
	margin-top: 20px;
	line-height: 25px;
}
.pagi_short a{
	float: left;
	width: 25px;
	height: 25px;
	position: relative;
	border: 1px solid #c9c9c9;
	margin-left: 6px;
}
.pagi_short span{
	float: left;
	margin-left: 6px;
	font-size: 11px;
}
.pagi_short_begin::before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 8px 6px 0;
	border-color: transparent #000000 transparent transparent;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -2px;
	margin-top: -6px;
}
.pagi_short_begin::after {
	content: '';
	width: 2px;
	height: 12px;	
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -6px;
	background: #000;
}
.pagi_short_prev::before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 8px 6px 0;
	border-color: transparent #000000 transparent transparent;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -5px;
	margin-top: -6px;
}
.pagi_short_next::before{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 8px;
	border-color: transparent transparent transparent #000000;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -3px;
	margin-top: -6px;
}
.pagi_short_end::before{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 8px;
	border-color: transparent transparent transparent #000000;
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -6px;
}
.pagi_short_end::after {
	content: '';
	width: 2px;
	height: 12px;	
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -6px;
	background: #000;
	margin-left: 5px;
}
.pagi_short_disabled::before,
.pagi_short_disabled::after{
	opacity: .2;
}
.pagi_short_bott{
	margin-top: 0;
}
.pagi_long{
	float: right;
}
.pagi_long a{
	display: inline-block;
	height: 34px;
	width: 34px;
	text-align: center;
	line-height: 34px;
	float: left;
	border-radius: 50%;
	margin-left: 14px;
	position: relative;
}
.pagi_long .pagi_long_currnet{
	color: #fff;
	background: rgba(153,153,153,.67);
}
.pagi_long a:hover{
	background: rgba(153,153,153,.67);
}
.pagi_long_begin::before {
	content: "<";
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
	border: 1px solid #bbb;
	color: #bbb;
	border-radius: 50%;
	left: 0;
	top: 0;
	font-size: 24px;
	font-family: "MyriadCond";
	line-height: 31px;
}
.pagi_long_end::before {
	content: ">";
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
	border: 1px solid #bbb;
	color: #bbb;
	border-radius: 50%;
	left: 0;
	top: 0;
	font-size: 24px;
	font-family: "MyriadCond";
	line-height: 31px;
}
.pagi_long_desc{
	clear: both;
	font-size: 14px;
	color: #afafaf;
	padding-top: 11px;
	margin-right: 45px;
	text-align: right;
}
/* СПИСОК ТОВАРОВ */
.product_list{
	clear: both;
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product_list_item{
	font-size: 15px;
	width: 235px;
	display: inline-block;
	/* margin-right: 25px; */
	margin-bottom: 20px;
	margin-top: 30px;
}
/* .product_list li:nth-child(4n){
	margin-right: 0;
} */
.product_list_item_img{
	height: 300px;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}
.product_list_item_img a{
	display: block;
	height: 100%;
}
.product_list_item_name{
	line-height: 20px;
	padding: 8px;
	text-align: center;
	font-size: 20px;
	height: 94px;
	overflow: hidden;
}
.product_list_item_name a{
	font-size: 17px;
}
.product_list_item_price{
	font-size: 24px;
	line-height: 48px;
	font-family: "MyriadBold";
	text-align: right;
	letter-spacing: -1px;
}
.product_list_item_2basket{
	display: block;
	text-transform: uppercase;
	text-align: center;
	line-height: 36px;
	border-radius: 2px;
	border: 1px solid #000;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;

}
.product_list_item_2basket:hover{
	background: #000;
	color: #fff;
}
/* ФУТЕР */
footer{
	background: #f2f2f2;
	padding: 70px 0 200px;
}
.footer_block{
	font-size: 15px;
}
.footer_container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer_block_header{
	font-size: 23px;
	font-family: "MyriadBold";
	margin-bottom: 5px;
}
.footer_block_list{
	font-size: 20px;
	color: #201600;
}
.footer_block_list li{
	line-height: 28px;
	height: 28px;
}
.footer_fdb{
	padding-top: 10px;
}
.footer_fdb input {
	font-size: 18px;
	display: block;
	width: 100%;
	background: #fff;
	height: 38px;
	line-height: 35px;
	border: 2px solid #c9c8c8;
	padding: 0 8px;
	color: #000;
}
.footer_fdb .footer_fdb_subm{
	text-transform: uppercase;
	font-family: "Myriad";
	margin-top: 20px;
	border-color: #000;
	cursor: pointer;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.footer_fdb .footer_fdb_subm:hover{
	background: #000;
	color: #fff;
}
.footer_block_soc{
	width: 330px;
}
.footer_soc_list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;
	margin-bottom: 21px;
}
.footer_soc_list li{
	width: 48px;
	height: 48px;
	background: url(../img/footer_sprite.png) no-repeat left top;
}
.footer_soc_list li a{
	display: block;
	height: 100%;
}
.footer_soc_list .in{
	background-position: -71px top;
}
.footer_soc_list .vk{
	background-position: -141px top;
}
.footer_soc_list .ok{
	background-position: -212px top;
}
.footer_soc_list .yt{
	background-position: -283px top;
}
.footer_payments{
	height: 35px;
	background: url(../img/footer_sprite.png) no-repeat left bottom;
}
.footer_fdb_policy{
	display: inline-block;
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
	width: 100%;
}
.footer_fdb_policy a{
	font-size: 12px;
	border-bottom: 1px dashed #333;
}
.footer_fdb_err{
	color: red;
	max-width: 100%;
}
.footer_fdb_err ul{
	margin-bottom: 7px;
}
/* ДЕТАЛЬНАЯ */
.detial_container{
	padding-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

}
.detail_imgs{
	width: 50%;
	padding-bottom: 63px;
}
.detail_imgs_list{
	margin-right: 34px;
	float: left;
}
.detail_imgs_ul{
	width: 110px;
}
.detail_imgs_ul img{
	max-width: 100%;
	width: 93px;
}
.detail_imgs_ul li{
	width: 110px;
	padding: 7px;
	cursor: pointer;
}
.detail_imgs_ul .slick-prev, .detail_imgs_ul .slick-next{
	width: 30px;
	height: 20px;
	font-size: 0;
	background: #000;
}
.detail_imgs_ul .slick-prev::before, .detail_imgs_ul .slick-next::before{
	display: none;
}

.detail_imgs_ul .slick-prev{
	background: url(../img/arr_up.svg) no-repeat center top;
	opacity: .5;
	top: -17px;
	left: 50%;
	margin-left: -15px;
}
.detail_imgs_ul .slick-prev:hover, 
.detail_imgs_ul .slick-prev:focus{
	background: url(../img/arr_up.svg) no-repeat center top;
	opacity: 1;
}
.detail_imgs_ul .slick-next{
	background: url(../img/arr_down.svg) no-repeat center top;
	opacity: .5;
	bottom: -44px;
	left: 50%;
	margin-left: -15px;
	right: auto;
	top: auto;
}
.detail_imgs_ul .slick-next:hover, 
.detail_imgs_ul .slick-next:focus{
	background: url(../img/arr_down.svg) no-repeat center top;
	opacity: 1;
}
.detail_imgs_ul .slick-arrow.slick-disabled{
	opacity: 0;
}
.detail_imgs_ul .nks-slick-current{
	-webkit-box-shadow: 0 0 0 1px #ca0088 inset;
	box-shadow: 0 0 0 1px #ca0088 inset;
}
.detail_imgs_main{
	float: left;
	max-width: 509px;
	position: relative;
}
.detail_fancy{
	cursor: pointer;
}
.detail_imgs_main img{
	max-width: 442px;
}
.detail_imgs_main_ul{
	width: 442px;
}
#zoom_area {
	position: absolute;
	/* left: 100%; */
	width: 442px;
	height: 120%;
	top: -50px;
	right: -482px;
	border: 1px solid #000;
	z-index: 2;
	/* visibility: hidden; */
	display: none;
	background: #fff;
}
.detail_imgs_main_ul:hover + #zoom_area{
	display: block;
}
.detail_info{
	width: 50%;
	padding-left: 90px;
	padding-bottom: 63px;
}
.detail_h1{
	font-size: 27px;
	font-family: 'MyriadBold';
	color: #000;
	margin-bottom: 43px;
}
.detail_sku_list{
	width: 400px;
	position: relative;
}
.detail_sku_list li{
	width: 65px;
	padding: 4px;
	cursor: pointer;
}
.detail_sku_list li img{
	max-width: 100%;
}
.detail_authorize_warning,
.detail_authorize_warning a{
	font-size: 12px;
	line-height: 14px;
	color: #000200;
	margin-bottom: 18px;
}
.detail_codes{
	margin-bottom: 19px;
}
.detail_codes li,
.detail_codes span{
	font-size: 17px;
	line-height: 20px;
	color: #7f7e7c;
}
.detail_vol_wieght{
	margin-bottom: 19px;
}
.detail_vol_wieght li,
.detail_vol_wieght span{
	font-size: 16px;
	line-height: 20px;
	color: #000200;
}
.detail_price{
	font-size: 37px;
	color: #000200;
	padding: 22px 0;
	font-family: "MyriadCond";
}
.detail_sku_head{
	font-size: 20px;
	line-height: 41px;
}

.detail_sku_list .slick-prev, .detail_sku_list .slick-next{
	width: 30px;
	height: 20px;
	font-size: 0;
	background: #000;
}
.detail_sku_list .slick-prev::before, .detail_sku_list .slick-next::before{
	display: none;
}
.detail_sku_list .slick-prev {
	background: url(../img/arr_up.svg) no-repeat center top;
	opacity: .5;
	top: 50%;
	left: -37px;
	margin-top: -15px;
	transform: rotateZ(-90deg);
}

.detail_sku_list .slick-prev:hover, 
.detail_sku_list .slick-prev:focus{
	background: url(../img/arr_up.svg) no-repeat center top;
	opacity: 1;
}
.detail_sku_list .slick-next{
	background: url(../img/arr_down.svg) no-repeat center top;
	opacity: .5;
	left: auto;
	top: 50%;
	right: -37px;
	margin-top: -15px;
	transform: rotateZ(-90deg);
}
.detail_sku_list .slick-next:hover, 
.detail_sku_list .slick-next:focus{
	background: url(../img/arr_down.svg) no-repeat center top;
	opacity: 1;
}
.detail_sku_list .slick-arrow.slick-disabled{
	opacity: 0;
}
.detail_sku_list .nks-slick-current{
	-webkit-box-shadow: 0 0 0 1px #ca0088 inset;
	box-shadow: 0 0 0 1px #ca0088 inset;
}
.detail_sku_active{
	-webkit-box-shadow: 0 0 0 1px #ca0088 inset;
	box-shadow: 0 0 0 1px #ca0088 inset;	
}
.detail_desc_head{
	margin-top: 155px;
	text-align: center;
	margin-bottom: 116px;
	position: relative;	
}
.detail_desc_head img{
	padding: 0 41px;
	background: #fff;
	position: relative;
	z-index: 2;
}
.detail_desc_head::before{
	content: "";
	height: 2px;
	width: 100%;
	left: 0;
	top: 60%;
	background: #c9c8c8;
	position: absolute;
}
.detail_desc dd,
.detail_desc dd *{
	font-size: 17px;
}
.detail_desc dd{
	padding-top: 50px;
	padding-bottom: 90px;
	display: none;
	max-width: 580px;
}
.detail_desc dd.active{
	display: block;
}
.detail_desc dt{
	font-size: 27px;
	font-family: 'MyriadBold';
	position: absolute;
	top: 0;
	line-height: 58px;
	padding: 0 116px;
	cursor: pointer;
}
.detail_desc .dt_inner{
	font-size: 27px;
}
.detail_desc dt::before{
	content: "";
	width: 100%;
	height: 2px;
	background: #c9c8c8;
	position: absolute;
	left: 0;
	bottom: 0;
}
.detail_desc dt::after{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 8px 8px;
	border-color: transparent transparent #c9c8c8 transparent;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	bottom: 2px;
}
.detail_desc dt.active::before{
	background: #ca0088;
}
.detail_desc dt.active::after{
	border-color: transparent transparent #ca0088 transparent;
}
.detail_desc dt.dt_specs{
	left: 343px;
	margin-left: 30px;
}
.detail_desc dl{
	position: relative;
	padding-top: 58px;
}
dd.dt_specs{
	display: none;
}
.detail_desc dd.dd_desc ul{
	margin: 20px 0;
	padding-left: 25px;
}
.detail_desc dd.dd_desc ul li{
	position: relative;
}
.detail_desc dd.dd_desc ul li::before{
	content: '';
	position: absolute;
	left: -25px;
	top: 50%;
	margin-top: -3px;
	width: 6px;
	height: 6px;
	background: #979695;
	border-radius: 50%;
}
.detail_desc dd.dd_desc strong{
	font-family: 'MyriadBold';
	font-weight: normal;
}
.dd_specs ul{
	padding: 10px 20px;
	border: 1px solid #000;
	line-height: 35px;
}
.dd_specs ul li{
	border-bottom: 1px solid #9e9e9e;
}
.dd_specs ul li:last-child{
	border-bottom: none;
}

.detail_recom .detail_desc_head{
	margin-top: 0;
	margin-bottom: 20px;
}
.detail_recom_list{
	width: 100%;
	margin-bottom: 100px;
	margin-top: 10px;
}
.detail_recom_item{
	text-align: center;
	width: 247px;
	margin: 0 20px;
}
.detail_recom_item_img {
	width: 100%;
	height: 285px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.detail_recom_item_img a{
	display: block;
	width: 100%;
	height: 100%;
}
.detail_recom_item_name a{
	font-size: 18px;
	line-height: 19px;
	padding: 7px;
	margin-bottom: 8px;
	display: block;
	min-height: 109px;
}
.detail_recom_item_price{
	line-height: 50px;
	font-size: 25px;
	font-family: "MyriadCond";
}
.detail_recom_item_action a{
	display: block;
	line-height: 42px;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #000;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.detail_recom_item_action a:hover{
	background: #000;
	color: #fff;
}
.detail_recom .slick-dotted.slick-slider{
	margin-bottom: 50px;
}
.detail_recom .slick-dots{
	bottom: -35px;
}
.detail_add2cart {
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 30px;
}
.detail_add2cart input[name="qty"]{
	width: 43px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	color: #000;
	border: 1px solid #c9c8c8;
	font-size: 12px;
	font-family: "Myriad";
	margin-right: 18px;
}
.detail_add2cart_button{
	padding: 0 26px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	border: 1px solid #c9c8c8;
	font-size: 12px;
	font-family: "Myriad";
	text-transform: uppercase;
	color: #afafaf;
	display: inline-block;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.detail_add2cart_button:hover{
	border-color: #000;
	color: #000;
}

/* КОНТАКТЫ */
.contacts_container{
	padding-bottom: 137px;
}
.contacts_container h1{
	line-height: 45px;
	border-bottom: 2px solid #000;
	margin-top: 39px;
	margin-bottom: 75px;
}
.contacts_block_head{
	cursor: pointer;
	font-size: 22px;
	line-height: 67px;
	border-bottom: 1px solid #000;
	padding: 0 20px;
	position: relative;
}
.contacts_block_head::before{
	content: "";
	width: 11px;
	height: 3px;
	background: #000;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -2px;
}
.contacts_block_head::after{
	content: "";
	width: 3px;
	height: 11px;
	background: #000;
	position: absolute;
	right: 24px;
	top: 50%;
	margin-top: -6px;
}
.contacts_block_head.active{
	background: #efefef;
}
.contacts_block_head.active::after{
	opacity: 0;
}
.contacts_block_list{
	padding: 20px 20px 41px;
	border-bottom: 1px solid #000;
	font-size: 18px;
	line-height: 26px;
	display: none;
}
.contacts_block_list *{
	font-size: 18px;
}
.contacts_block_list a{
	color: #b8568c;
}
.contacts_block_list li{
	margin-bottom: 27px;
}
.contacts_block ul:last-child{
	padding-bottom: 0;
	border-bottom: 1px solid #000;
}

.contacts_block div:first-child{
	border-top: 1px solid #000;
}
.shops_and_map{
	height: 582px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 100px;
}
.shop_block{
	width: 40%;
	height: 100%;
}
.map_block{
	width: 60%;
	padding-left: 30px;
}
#map{
	height: 100%;
}
.shops_head{
	font-family: "MyriadBold";
	font-size: 24px;
	background: #efefef;
	line-height: 70px;
	border-bottom: 2px solid #c9c8c8;
	height: 70px;
	cursor: pointer;
	position: relative;
}
.shops_head::before{
	content: "";
	width: 11px;
	height: 3px;
	background: #c9c8c8;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -2px;
}
.shops_head::after{
	content: "";
	width: 3px;
	height: 11px;
	background: #c9c8c8;
	position: absolute;
	right: 24px;
	top: 50%;
	margin-top: -6px;
}
.shops_head_loc{
	width: 50px;
	border-right: 2px solid #c9c8c8;
	background: url(../img/cont_loc.png) no-repeat 17px 24px;
	height: 100%;
	display: inline-block;
	float: left;
	margin-right: 27px;
}
.shops_head.active .shops_head_loc{
	background-position: -33px 24px;
}
.shops_head.active::after{
	opacity: 0;
}
.shops_list{
	overflow-y: auto;
	height: 0;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.shops_head.active + .shops_list{
	height: calc(100% - 144px);
}
.shops_list li{
	line-height: 24px;
	padding: 20px 13px;
	border-bottom: 2px solid #c9c8c8;
	position: relative;
}
.shops_list li.shop_kid::after{
	position: absolute;
	width: 30px;
	height: 30px;
	right: 10px;
	top: 10px;
	content: "";
	background: url(../img/shop_b.png) no-repeat center /contain;
}
.shops_list li.shop_velo::after{
	position: absolute;
	width: 30px;
	height: 30px;
	right: 10px;
	top: 10px;
	content: "";
	background: url(../img/shop_v.png) no-repeat center /contain;
}
.shops_list li p{
	font-size: 19px;
}
.shops_list li strong{
	font-size: 22px;
}

/* ИНФО СТРАНИЦА */
.info_head{
	text-align: center;
	padding: 77px 0;
	border-bottom: 1px solid #c2c2c2;
	margin-bottom: 11px;
}
.info_head_pic_t,
.info_head_pic_m{
	display: none;
}
.info_header{
	font-size: 31px;
	text-transform: uppercase;
	margin: 44px 0;
	font-weight: normal;
	font-family: "Myriad";
}
.info_content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.info_content h2 {
	font-weight: normal;
	font-size: 24px;
	margin: 20px 0;
}
.info_left{
	width: 28%;
	padding-right: 20px;
}
.info_right{
	width: 72%;
	padding-left: 43px;
}
.info_right_content *{
	font-size: 18px;
	line-height: 22px;
}
.info_right_content p,
.info_right_content ul{
	margin-bottom: 27px;
}
.info_right_content ul li{
	position: relative;
	line-height: 25px;
	padding-left: 25px;
}
.info_right_content ul li::before{
	position: absolute;
	content: "";
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #c2c2c2;
	left: 0;
	top: 9px;
}
.info_left_menu li{
	line-height: 34px;
}
.info_left_menu li a{
	position: relative;
	display: inline-block;
	font-size: 22px;
	color: #201600;
	margin-left: 24px;
}
.info_left_menu li a.active{
	text-decoration: underline;
}
.info_left_menu li a::before {
	position: absolute;
	content: "";
	width: 8px;
	height: 17px;
	background: url(../img/info_menu_arr.png) no-repeat center top / cover;
	left: -24px;
	top: 50%;
	margin-top: -8px;
	opacity: .3;
}
.info_left_menu li a.active::before {
	opacity: 1;
}

/* ВХОД */
.auth{
	padding-bottom: 200px;
}
.auth_h1{
	font-weight: normal;
	text-transform: uppercase;
	font-size: 31px;
	font-family: "Myriad";
	margin-bottom: 85px;
}
.auth_select li {
	font-size: 27px;
	font-family: 'MyriadBold';
	line-height: 58px;
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 546px;
	text-align: center;
}
.auth_select li::before {
	content: "";
	width: 100%;
	height: 2px;
	background: #c9c8c8;
	position: absolute;
	left: 0;
	bottom: 0;
}
.auth_select li::after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 8px 8px;
	border-color: transparent transparent #c9c8c8 transparent;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	bottom: 2px;
}
.auth_select li.active::before{
	background: #ca0088;
}
.auth_select li.active::after{
	border-color: transparent transparent #ca0088 transparent;
}
.auth_select li:last-child{
	float: right;
}
.auth_tab{
	display: none;
	position: relative;
	padding-top: 100px;
	font-size: 14px;
	text-transform: uppercase;
}
.auth_tab input,
.auth_tab label{
	font-size: 14px;
}
.auth_tab input{
	line-height: 53px;
	border: 1px solid #a3a3a3;
	padding: 0 15px;
	display: block;
	width: 100%;
	background: #fff;
	margin: 9px 0 19px;
}
.auth_tab.active{
	display: block;
}
.r_field{
	font-size: 13px;
	color: #000;
	opacity: .55;
	text-transform: none;
	left: 0;
	top: 14px;
	position: absolute;
}
.auth_tab_l{
	width: 546px;
	float: left;
	max-width: 100%;
}
.auth_tab_r{
	width: 546px;
	float: right;
	max-width: 100%;
}
.auth_tab_checks{
	padding-top: 31px;
}
.register_form .auth_tab_checks{
	padding-top: 5px;
}
.auth_tab_checks > div{
	font-size: 14px;
	margin-bottom: 15px;
}
.auth_tab_checks input[type="checkbox"]{
	display: none;
}
.auth_tab_checks label {
	display: inline-block;
	line-height: 22px;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	margin-right: 10px;
	font-size: 12px;
}
.auth_tab_checks label::before {
	content: "";
	width: 20px;
	height: 20px;
	border: 1px solid #c9c8c8;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
}
.auth_tab_checks input[type="checkbox"]:checked + label::after {
	width: 10px;
	height: 10px;
	background-color: #080000;
	content: "";
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -4px;
}
.auth_butt{
	display: inline-block;
	line-height: 43px;
	background: #7f7e7c;
	position: relative;
	border-radius: 21px;
	padding-left: 30px;
	color: #fff;
	font-size: 14px;
	width: 304px;
	margin-top: 77px;
	float: right;
}
.auth_butt::after{
	position: absolute;
	width: 13px;
	height: 18px;
	content: "";
	background: url(../img/auth_lock.png) no-repeat;
	right: 30px;
	top: 50%;
	margin-top: -10px;
}
.forgot {
	text-transform: none;
	text-decoration: underline;
	float: right;
	color: #8d8d8d;
	font-size: 15px;
}
.auth_mob_head{
	display: none;
}

/* ГЛАВНАЯ */
.main_top_act{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 65px;
}
.main_top_act_item{
	width: 410px;
	max-width: 32%;
}
.main_top_act_head{
	text-transform: uppercase;
	font-family: "MyriadBold";
	font-size: 24px;
	line-height: 53px;
	height: 53px;
	position: relative;
	margin: 30px 0; 
	text-align: center;
}
.main_top_act_head::after{
	height: 100%;
	width: 1px;
	background: #000;
	position: absolute;
	top: 0;
	right: -8px;
	content: "";
}
.main_top_act div:last-child .main_top_act_head::after{
	display: none;
}
.main_top_act_img{
	max-width: 100%;
}
.main_recom{
	margin-bottom: 20px;
}
.main_recom_head{
	height: 86px;
	line-height: 86px;
	position: relative;
	text-align: center;
}
.main_recom_head::before{
	content: "";
	width: 100%;
	height: 2px;
	background: #c8c9c9;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1px;
}
.main_recom_head span{
	display: inline-block;
	font-size: 31px;
	font-family: "MyriadBold";
	padding: 0 29px;
	position: relative;
	background: #fff;
}
.main_recom_item{
	display: inline-block;
	width: 216px;
	text-align: center;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 23px;
}
.main_recom_item_img{
	height: 280px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.main_recom_item_img a{
	display: block;
	width: 100%;
	height: 100%;
}
.main_recom_item_name{
	padding: 17px 10px;
	line-height: 18px;
	height: 118px;
}
.main_recom_item_name a{
	font-size: 17px;
}
.main_recom_item_price{
	font-size: 31px;
	font-family: "MyriadCond";
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 20px;
}
.main_recom_item_action{
	line-height: 42px;
	border: 1px solid #000;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
}
.main_recom_arr{
	height: 58px;
	line-height: 58px;
	text-align: center;
	font-size: 18px;
	color: #4d4d4d;
	text-transform: uppercase;
	float: left;
	width: 350px;
	background: #e6e6e6;
	cursor: pointer;
}
.main_recom_arr img{
	margin-left: 15px;
	margin-right: 15px;
}
.main_recom_arr.next{
	float: right;
}
.main_video_wrap{
	margin-bottom: 30px;
}
.main_video{
	max-width: 858px;
	width: 66%;
	background: #eee;
	height: 100%;
	float: left;
}
.main_video_img{
	background: #eee;
	width: 33%;
	max-width: 412px;
	float: right;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.main_bottom_banners{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 39px;
	margin-bottom: 100px;
}
.main_bottom_banners li{
	width: 302px;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: contain;
	background-size: contain;
	max-width: 23%;
}
.main_bottom_banners li a{
	display: block;
	width: 100%;
	height: 100%;
}

.pop_wrap{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	z-index: 11;
	display: none;
}
.pop_up{
	position: absolute;
	width: 500px;
	height: 200px;
	background: #fff;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 20px;
	text-align: center;
	display: none;
}
.pop_up_close {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 24px;
	font-family: "MyriadBold";
	width: 24px;
	height: 24px;
	cursor: pointer;
	line-height: 24px;
}
.pop_up_head {
	font-size: 18px;
	margin-top: 12px;
}
.pop_up_buttons {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 20px;
	height: 30px;
	line-height: 30px;

}
.pop_up_buttons a{
	display: inline-block;
	width: 44%;
	line-height: 30px;
	border: 1px solid #000;
	margin: 0 2%; 
}
.pop_up_buttons a:hover{
	background: #000;
	color: #fff;
}
.filter_clear {
	display: block;
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
	border-bottom: 1px dashed #212121;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}
#basket_items{
	width: 100%;
}
#basket_items td{
	padding: 15px 5px;
	font-size: 16px;
	border-bottom: 1px solid #f1f1f1;
}
#basket_items .counter td{
	border-bottom: none;
}
#basket_items .counter td input{
	padding: 4px 5px;
	text-align: center;
	background: #fff;
	border: 1px solid #000;
}
#basket_items td a{
	font-size: 16px;
}
.bx_ordercart_photo{
	width: 50px;
	height: 50px;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#basket_items .control a{
	font-size: 0;
	width: 20px;
	height: 20px;
	position: relative;
	display: inline-block;
}
#basket_items .control a::after {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: "x";
	font-family: "MyriadBold";
	color: #CB0089;
	font-size: 24px;
	line-height: 14px;
	text-align: center;
}
#basket_items thead{
	background: #f2f2f2;
}
#basket_items thead td{
	font-family: "MyriadBold";
}
.bx_ordercart_order_pay {
	text-align: right;
	margin-bottom: 100px;
}
.bx_ordercart_order_sum {
	float: right;
	/* font-size: 24px; */
	margin: 25px 0;
}
.bx_ordercart_order_sum td{
	font-size: 20px;
}
#allSum_FORMATED{
	font-family: "MyriadBold";	
}
.bx_ordercart_order_pay_center a{
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	line-height: 36px;
	border-radius: 2px;
	border: 1px solid #000;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	background: #fff;
	padding: 0 25px;
}
.bx_ordercart_order_pay_center a:hover{
	background: #000;
	color: #fff;
}
.bx_ordercart_order_table_container {
	max-width: 100%;
	overflow-x: auto;
}

/* КАБИНЕТ */
.personal_row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 50px 0;
}
.personal_butt{
	padding: 0 24px;
	line-height: 50px;
	border: 1px solid #000;
	font-size: 16px;
	text-align: center;
	width: calc(20% - 20px);
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	margin-bottom: 20px;
}
.personal_butt:hover,
.personal_butt:active{
	background: #000;
	color: #fff;
}
.personal_exit{
	margin: 50px;
	text-align: center;
}
.logout{
	font-size: 18px;
	border-bottom: 1px dashed #111;
}
.catalog_search_filter {
	padding-top: 30px;
}
.search_title{
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 15px;
}
.catalog_search_filter input[type="text"]{
	max-width: 100%;
	line-height: 36px;
	padding: 0 10px;
	border: 2px solid #ddd;
	color: #000;
	font-family: "Myriad";
	margin-bottom: 16px;
	background: #fff;

}
.catalog_search_filter input[type="submit"]{
	max-width: 100%;
	line-height: 36px;
	padding: 0 10px;
	border: 1px solid #000;
	color: #000;
	font-family: "Myriad";
	margin-bottom: 16px;
	background: #fff;
	text-align: center;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	cursor: pointer;
}
.catalog_search_filter input[type="submit"]:hover{
	background: #000;
	color: #fff;
}
.sale-personal-profile-list-container {
	border-collapse: collapse;
	margin: 50px 0;
	width: 100%;
}
.sale-personal-profile-list-container td{
	border: 1px solid #000;
	padding: 5px 10px;
	text-align: center;
}
.sale-personal-profile-list-container th{
	padding: 5px 10px;
}
.sale-personal-profile-list-border{
	margin: 0 10px;
	height: 10px;
	width: 1px;
	background: #000;
	display: inline-block;
}
.sale-personal-profile-list-container tr td:first-child{
	text-align: center;
}
.sale-personal-profile-list-container a{
	border-bottom: 1px dashed #111;
}
.bx-sls .bx-ui-sls-container{
	min-height: 53px;
	line-height: 53px;
}
.bx-sls .dropdown-icon{
	top: 50%;
	margin-top: -7px;
}
.bx-sls .bx-ui-sls-clear{
	top: 50%;
	margin-top: -15px;
}
.bx-sls .dropdown-block{
	border: 1px solid #a3a3a3;
	border-radius: 0;
	margin: 9px 0 19px;
}
.auth_tab.profile_tab{
	padding-top: 20px;
}
.auth_tab textarea{
	border: 1px solid #a3a3a3;
	margin: 9px 0 19px;
	padding: 10px;
	font-family: "Myriad";
	background: #fff;
	width: 100%;
}
.auth_tab h4{
	margin-bottom: 20px;
}
.sale-profile-detail-link-list a{
	border-bottom: 1px dashed #111;
}
.profile_tab input[type="submit"]{
	display: inline-block;
	line-height: 36px;
	padding: 0 10px;
	border: 1px solid #000;
	color: #000;
	font-family: "Myriad";
	margin-bottom: 16px;
	background: #fff;
	text-align: center;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	cursor: pointer;
	width: 32%;
}
.profile_tab input[type="submit"]:hover{
	background: #000;
	color: #fff;
}
.sale-personal-profile-btn-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.profile_tab .errortext{
	padding: 10px 0;
}

/* БРЕНДЫ */
.brands_container{
	padding-bottom: 70px;
}
.brands_list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.brands_list_item{
	width: 19%;
	margin-bottom: 20px;
	text-align: center;
}
.brands_list_item_img{
	width: 100%;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
}
.brands_list_item_img a{
	display: block;
	width: 100%;
	height: 100%;
}
.brand_detail_title{
	display: inline-block;
}
.brand_detail_img{
	width: 220px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: contain;
	background-size: contain;
	float: left;
	margin-right: 20px;
}
.brand_detail_desc{
	padding-left: 240px;
}
.brand_detail_head{
	clear: both;
	margin: 20px;
	text-align: center;
	font-size: 20px;
	font-family: "MyriadBold";
}
.brand_detail_desc iframe,
.brand_detail_desc div{
	max-width: 100%;
}

.prices{
	border-collapse: collapse;
	width: 100%;
	margin: 30px 0 50px;
}
.prices td{
	padding: 10px;
	border: 1px solid #000;
}
.prices tr td:last-child{
	text-align: center;
}
.bx_sitemap_ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}
.bx_sitemap_ul > li{
	display: inline-block;
	width: 23%;
	border-right: 1px solid #eee;
	padding-top: 20px;
	padding-left: 1%;
	padding-right: 1%;
}
.bx_sitemap_ul > li:nth-child(4n){
	border-right: none;
}
.bx_sitemap_ul > li > h2{
	margin: 10px 0;
}
.bx_sitemap_ul > li > h2 a{
	font-size: 20px;
	font-family: "MyriadBold";
}
.bx_sitemap_ul > li > ul > li > h2{
	margin: 7px 0;
}
.bx_sitemap_ul > li > ul > li > h2 a{
	font-size: 18px;
}
.bx_sitemap_ul li{
	line-height: 24px;
}
.bx_sitemap_ul li li{
	padding-left: 10px;
}

/* плашка техподдержки */
.bottom_panel {
	position: fixed;
	 left: 0; 
	right: 0;
	bottom: 0;
	width: 320px;
	line-height: 47px;
	background: #eee;
	/* color: #fff; */
	text-align: center;
	 margin: auto; 
	z-index: 999;
	border: 1px solid #222;
	border-bottom: none;
	max-width: 100%;
}
.bottom_panel a{
	color: #ca0088;
}